
<div id="drag-1" class="draggable" style="transform: translate(43.965px, -14.7401px);" data-x="43.964974800402956" data-y="-14.74007649431951">
  <p>moved a distance of 46.37px</p>
</div>
<div id="drag-2" class="draggable" style="transform: translate(98.1266px, 1.90239px);" data-x="98.1266026239972" data-y="1.9023881860528036">
  <p>moved a distance of 94.76px</p>
</div>





