<div class="container py-4">
    <div class="row">
        <div class="col- col-md-12 mb-4">
            <h2 class="text-center h5 text-uppercase text-muted">Simulator card</h2>
        </div>
        <div class="col- col-md-6">
            <div class="card custom-card">
                <div class="card-header">
                    <h3 class="h6 text-center text-uppercase text-muted">Activity</h3>
                </div>
                <div class="card-body">
                    <div class="wrapper-zone">
                        
                    </div>                
                </div>
            </div>
        </div>
        <div class="col- col-md-6">
            <div class="card custom-card">
                <div class="card-header">
                    <h3 class="h6 text-center text-uppercase text-muted">Tasks</h3>
                </div>
                <div class="card-body">
                    <div class="wrapper-zone">
                        <div class="task"><p>Add salt</p></div>

                        <div class="task"><p>To mix</p></div>

                        <div class="task"><p>Add rice</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

