.custom-card{
    width: 100%;
    height: 32rem;

    .wrapper-zone{
        border: 2px solid #c2c2c2;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        padding: 1rem;
        transition: background-color .2s,
                    border-style .2s;
    }

    .task{
        background-color: #cecece;
        border-radius: 5px;
        padding: .5rem 2rem;
        text-align: center;
        margin: 10px 0;
        
    }
}



.zone-available{
    background-color: #ebebeb;
    border-style: dashed !important;
}